<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751153146975-8p7g4pespllf3s7u30ue4t3ooe45nve6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751153146975-8p7g4pespllf3s7u30ue4t3ooe45nve6</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ng09AkRK8awrMYBlSGLORcriwpBM_tA</string>
	<key>GCM_SENDER_ID</key>
	<string>751153146975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stumbbl.Stumbbl</string>
	<key>PROJECT_ID</key>
	<string>stumbbl-1564741712404</string>
	<key>STORAGE_BUCKET</key>
	<string>stumbbl-1564741712404.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751153146975:ios:68891e49c556ce7e51bfea</string>
	<key>DATABASE_URL</key>
	<string>https://stumbbl-1564741712404.firebaseio.com</string>
</dict>
</plist>